<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="24369kitfm.GetOut" Version="1.0.0.2" Publisher="CN=2A472A36-3E30-487D-B539-BD4E4F2FF005" />
  <Properties>
    <DisplayName>Get Out!</DisplayName>
    <PublisherDisplayName>kitfm</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Get Out!" Logo="images\logo1.png" SmallLogo="images\smalllogo.png" Description="Get Out App: For when you want others to Get Out" ForegroundText="light" BackgroundColor="#1c3959" ToastCapable="false">
        <DefaultTile ShowName="noLogos" ShortName="getout" WideLogo="images\widelogo1.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#173a61" />
      </VisualElements>
    </Application>
  </Applications>
</Package>